body{
    background-color:$lt-complimentary;
    font-family: $primary-font;
    background-image: url('../polaroid.png');
    background-blend-mode: multiply;
}




.App{
    color: #fff;
    a{
        color: $lt-neutral;
        font-weight: 700;
        text-decoration: underline;
    }
}

.component--navbar {
    background-color: $dk-neutral;
    ul{
        margin-bottom: 0;
        @media (min-width: $breakpoint-sm){
            justify-content: space-evenly;
        }
        
        li {
            list-style-type: none;
            display: flex;
            align-items: center;

            a {
                color: #fff;
                font-weight: 300;
                text-decoration: none;
            }
        }
    }
    
}


.component--index{
    h1 {
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
        font-size: 2em;
    }
}

.component--story{
    background-color: $lt-neutral;
    color: $dk-neutral;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.25);
        img {
            max-width: 100%;
        }

        h2 {
            
            font-weight: bold;
        }

        .text--byline {
            font-family: $secondary-font;
            font-style: oblique;
            color: $dk-complimentary;
        }

        .btn--basic, .badge--publication {
            border-radius: 0px;
            color: #fff;
            text-decoration: none;
            &:hover {
                background-color:#000;
            }
            
        }

        .btn--read, .badge--publication {
            background-color: $lt-complimentary;
        }

        .btn--bookmark {
            background-color: $med-complimentary;
        }
        

        .btn--bookmark.bookmarked {
            background-color: $lt-neutral;
            color: $dk-neutral;
            &:hover {
                border: solid 1px $dk-neutral;
                
            }
        }

    }




    ul.user--dropdown{
        color: #fff;
        text-align: left;
        width: 14%;
        display: flex;
        position: relative;
        ul {
            display: none;
            position: absolute;
            top:1.5rem;
            z-index:99999;
        }
        li{
            list-style-type:none;
           // position: relative;
            i {
                padding: 4px;
            }
            &:hover > ul{
                display: block;
                margin: 0;
                padding:0;
                background-color: $dk-neutral;
                width: 100%;
            }

            a{
                padding: 4px 8px;
            }
        }
    }

    .component--pagination{
            padding:0;
            display: flex;
            flex-direction: row;
            li{
                list-style-type: none;
                display: flex;
                background: #fff;
                &.currentPage a{
                    font-weight: 900;
                }
                a{
                    font-weight: 500;
                    color: $med-complimentary;
                    text-decoration: none;
                    &:hover{
                        color: $dk-neutral;
                    }
                }
            }
        
    }