/**
COLORS
**/
$lt-neutral: #ebebeb;
$med-neutral: #d9d9d9;
$dk-neutral: #404040;

$lt-complimentary: #a68877;
$med-complimentary: #731a22;
$dk-complimentary:#594336;



/**
FONTS
**/
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Georgia', serif;

/**
BREAKPOINTS
**/

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
